* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: rgb(24, 33, 44);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    .Main_Container {
        color: white;
        width: 50%;
        .title_bar {
            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            .logo {
                img {
                    height: 50px;
                }
            }
            .title {
                margin-left: 20px;
                h2 {
                    font-size: 1.5rem;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 200;
                    letter-spacing: 0.1rem;
                }
                h4 {
                    font-size: 1rem;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    font-weight: 200;
                    letter-spacing: 0.1rem;
                }
            }
        }
        .form_control {
            .userlogin {
                border: 1px solid wheat;
                border-radius: 0px 50px 0px 50px;
                background-color: rgb(17, 25, 39);
                padding: 10px;
                margin-left: 30%;
                form {
                    .form_data {
                        margin: 20px;
                        .username {
                            margin: 10px 0;
                            label {
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 200;
                                letter-spacing: 0.1rem;
                            }
                            input {
                                border-radius: 20px;
                                color: white;
                                outline: greenyellow;
                                border: 1px solid wheat;
                                background-color: rgb(30, 29, 52);
                                padding: 5px 20px;
                                width: 70%;
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 550;
                                letter-spacing: 0.1rem;
                                margin: 5px 0 0;
                            }
                        }
                        .email {
                            margin: 10px 0;
                            label {
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 200;
                                letter-spacing: 0.1rem;
                            }
                            input {
                                border-radius: 20px;
                                color: white;
                                outline: greenyellow;
                                border: 1px solid wheat;
                                background-color: rgb(30, 29, 52);
                                padding: 5px 20px;
                                width: 70%;
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 550;
                                letter-spacing: 0.1rem;
                                margin: 5px 0 0;
                            }
                        }
                        .password {
                            margin: 10px 0;
                            label {
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 200;
                                letter-spacing: 0.1rem;
                            }
                            input {
                                border-radius: 20px;
                                color: white;
                                outline: greenyellow;
                                border: 1px solid wheat;
                                background-color: rgb(30, 29, 52);
                                padding: 5px 20px;
                                width: 70%;
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 550;
                                letter-spacing: 0.1rem;
                                margin: 5px 0 0;
                            }
                        }
                        .button-submit {
                            width: 50%;
                            margin: 20px 0;
                            display: flex;
                            justify-content: center;
                            button {
                                border-radius: 50px;
                                font-size: 1rem;
                                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                                font-weight: 200;
                                letter-spacing: 0.1rem;
                                color: white;
                                outline: greenyellow;
                                border: 1px solid wheat;
                                background-color: rgb(30, 29, 52);
                                width: 40%;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:550px) {
    main {
        max-height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
        .Main_Container {
            width: 100%;
            margin: 0;
            .form_control {
                display: flex;
                justify-content: center;
                .userlogin {
                    margin: 0;
                    .formSubmit {
                        .form_data {
                            .button-submit {
                                width: unset;
                                justify-content: start;
                            }
                        }
                    }
                }
            }
        }
    }
}